.container-header{    
    background-image: url('../Imagenes/medical-563427_1280.jpg');
    background-position: center;
    color: rgb(76, 174, 206);
    display: flex;
    padding: 30px;
}

.container-header header img{
    width: auto;
    height: 100px;
}

.container-header header h1{
    font-family: 'Homemade Apple', cursive;;
    font-weight: bolder;

}

ul {
    list-style: none;
}
.nav-link{
    color: #005691;
}
.container-menu{
    background-color:#ffffff;
}
.navbar .nav-item .dropdown-menu{  
    display:block; 
    opacity: 0;  
    visibility: hidden; 
    transition:.3s; 
    margin-top:0;  
    }    
.navbar .nav-item:hover .nav-link{ 
    color:#005691;  
}
.navbar .dropdown-menu.fade-down{ 
    top:80%; 
    transform: rotateX(-75deg); 
    transform-origin: 0% 0%; 
}
.navbar .dropdown-menu.fade-up{ 
    top:180%;  
}
.navbar .nav-item:hover .dropdown-menu{ 
    transition: .3s; 
    opacity:1; 
    visibility:visible; 
    top:100%; 
    transform: rotateX(0deg);
    background-color: #4575AC;
}
.container-menu p{
    text-align: justify;
    margin: 25px;
    padding: 25px;
}

/* .navbar-toggler .navbar-toggler-icon{
    background-color: transparent;
} */

.container-main{
    background-color:#fafafa ;
    height: auto;
}
.container-main_info{
    justify-content: center;
    text-align: center;
    align-items: baseline;
    align-content: center;
    color:#005691;
    padding-top: 50px;
}

.container-main_info h1{
    text-align: center;
}

.container-main_p {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
}

.container-carrousel {
    width: 200px;
}
.container-carrousel img{
    height: 40vw;
}
.container-footer{
    color:#e8f1f5; 
    background-color: #00234F;
    text-align: center;
    padding: 10px;
}
.container-footer .row p span a{
    color: #E8F1F5;
    font-size: small;
}

@media (max-width: 500px) {
    .container-carrousel {
      display: none;
    }
  }