.container-header{
    background-color: #004a7c;
    color: #4575ac;
    display: flexbox;
    padding: 30px;
}

.container-header header img{
    width: auto;
    height: 50px;
}

ul {
    list-style: none;
}

.nav-link{
    color: #fafafa;
}

.container-menu{
    background-color: #4575ac;
}

.navbar .nav-item .dropdown-menu{  
    display:block; 
    opacity: 0;  
    visibility: hidden; 
    transition:.3s; 
    margin-top:0;  
}    

.navbar .nav-item:hover .nav-link { 
   color: #fafafa;  
   background-color:  #005691;
}

.navbar .dropdown-menu.fade-down{ 
    top:80%; 
    transform: rotateX(-75deg); 
    transform-origin: 0% 0%; 
}

.navbar .dropdown-menu.fade-up{ 
    top:180%;  
}

.navbar .nav-item:hover .dropdown-menu{ 
    transition: .3s; 
    opacity:1; 
    visibility:visible; 
    top:100%; 
    transform: rotateX(0deg);
    background-color: #4575ac;
}

.container-menu p{
    text-align: justify;
    margin: 25px;
    padding: 25px;
}

.navbar-toggler-icon{
    background-color: blue;
}

.container-main{
    background-color:#fafafa ;
    height: auto;
    padding: 30px;
}

.container-main .turno-title h4{
    text-align: center;
    margin:50px auto;
}

.container-main .turno-text {
    font-size: 20px;
    color: #005691;
}

.container-main_info{
    color:#005691;
    padding: 10px;
    margin: 20px;
}

.form-row button{
    margin:5px;
}

.container-main_info .turno{
    border: 1px double #00234f;
    width: auto;
    text-align: center;
    padding: 20px 0;
    margin: 10px 100px;
}

.container-footer{
    color:#e8f1f5; 
    background-color: #00234f;
    text-align: center;
    padding: 10px;
}

.container-footer .row p span a{
    color: #e8f1f5;
    font-size: small;
}