.container-header{
    background-image: url('../Imagenes/medical-563427_1280.jpg');
    background-position: center;
    color: #4575ac;
    display: flexbox;
    padding: 30px;
}

.container-header header img{
    width: auto;
    height: 100px;
}

.container-header header h1{
    font-family: 'PT Sans', Verdana, sans-serif;
    font-weight: bolder;
}

ul {
    list-style: none;
}

.nav-link{
    color: #fafafa;
}

.container-menu{
    background-color: #4575ac;
}

#welcomeName {
    font-weight: bolder;
}

.navbar .nav-item .dropdown-menu{  
    display:block; 
    opacity: 0;  
    visibility: hidden; 
    transition:.3s; 
    margin-top:0;  
    }    

.navbar .nav-item:hover .nav-link{ 
   color: #fafafa;  
   background-color: #005691;
}

.navbar .dropdown-menu.fade-down{ 
    top:80%; 
    transform: rotateX(-75deg); 
    transform-origin: 0% 0%; 
}

.navbar .dropdown-menu.fade-up{ 
    top:180%;  
}

.navbar .nav-item:hover .dropdown-menu{ 
    transition: .3s; 
    opacity:1; 
    visibility:visible; 
    top:100%; 
    transform: rotateX(0deg);
    background-color: #4575ac;
}

.container-menu p{
    text-align: justify;
    margin: 25px;
    padding: 25px;
}

.navbar-toggler-icon{
    background-color: blue;
}

.container-main{
    background-color:#fafafa ;
    height: 400px;
}

.container-main .bienvenido{
    font-size: 5vw;
    text-align: center;
    margin:50px auto;
}

.container-main_info{
    justify-content: center;
    text-align: center;
    align-items: baseline;
    align-content: center;
    color:#005691;
    padding-top: 50px;
}

.container-main .form-turno{
    width: 80%;
   margin: auto;
   display: flex;
   
}

.container-main_info .display{
    display: none;
}

.container-main .input{
    width: 90%;
    justify-content: center;
    padding: 10px;
}

.container-main .input> label{
   width: 20%;
   display: inline-block;
}

/* .container-main .input input[type="text"], select, input[type="date"]{
    width:50%;
	padding:3px 10px;
	border:1px solid blue;
	background-color:#f6f6f6;
	margin: 20px;
	display:inline-block;
} */

.container-main .form-turno input[type="submit"]{
    margin:20px auto;
    width: 15%;
    padding: 5px;
    background-color: #4575ac;
    border: 1px solid blue;
    color: white;
    display: block;
    align-items: center;
}



.container-carrousel {
    width: 200px;
}

.container-carrousel img{
    height: 400px;
}

.container-footer{
    color:#e8f1f5; 
    background-color: #00234f;
    text-align: center;
    padding: 10px;
}

.container-footer .row p span a{
    color: #e8f1f5;
    font-size: small;
}

